@import '../../scss/mixins.scss';
.wrapper {
    .title-wrapper {
        position: relative;
        display: block;
        justify-content: flex-end;
        width: 100%;
        margin-top: 30px;
        .inline-til {
            display: inline;
        }
    }
    .cl-div {
        clear: right;
    }
    a.link-more {
        float: right;
        color: white;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;

        &:after {
            font-family: Arial, Helvetica, sans-serif;
            content: '\00bb';
            line-height: unset;
            font-size: 14px;
            line-height: 3;
        }

        &:hover {
            color: #ffff66;
            transition-duration: 0.5s;
            text-decoration: none;
        }
    }
    .item-list-wrapper {
        position: relative;
        padding: 0px 0px;
        margin: 0px 0px;
        .item {
            padding: 5px;
        }
    }
}
